<md-card class="body-card">
    <md-card-header>
        <md-card-header-text>
            <span class="md-headline">Todos</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <md-list>
            <md-list-item md-no-proxy ng-repeat="todo in todos" class="todo">
                <md-checkbox ng-model="todo.done" ng-change="updateTodo(todo)" aria-label="Done"></md-checkbox>
                <md-input-container md-no-float class="md-block">
                    <input type="text" ng-model="todo.text" ng-change="updateTodo(todo)"
                           placeholder="Describe your task">
                </md-input-container>
                <div class="md-secondary uploading">
                    <md-progress-circular md-diameter="24px" md-mode="indeterminate"
                                          ng-show="todo.uploading"></md-progress-circular>
                </div>
                <md-button class="md-icon-button md-secondary" ng-click="deleteTodo(todo)" aria-label="Remove"
                           ng-show="todo.id">
                    <md-icon md-font-icon="delete">delete</md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
